-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{:class=>@classVariable} Movie Title
      %th{:class=>@classVariable} Rating
      %th{:class=>@classVariable} Release Date
      %th{:class=>@classVariable} More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= link_to(movie.title, movie_path(movie))
        %td= movie.rating
        %td= link_to(movie.release_date, movie_path(movie))
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
